img{
    width: 300px;
    height: 300px;
    margin-top: 3%;
    margin-left: 37%;
}
div{
    background-color: lightgray;
    text-align: center;
    margin-left: 23.5%;
    height: 50%;
    width: 45%;
}
label {
    font-family: cursive;
    margin-left: 35%;
}
#Cname{
    margin-left: 80px;
    height: 20px;
    background-color: lightblue;
}
#city{
        margin-left: 145px;
        height: 20px;
        background-color: lightblue;
}
#state{
    margin-left: 140px;
    height: 20px;
    background-color: lightblue;
}
#country{
    margin-left: 120px;
    height: 20px;
    background-color: lightblue;
}
#pin{
    margin-left: 140px;
    height: 20px;
    background-color: lightblue;
}
#phone{
    margin-left: 135px;
    height: 20px;
    background-color: lightblue;
}
input[type=email]{
    margin-left: 135px;
    height: 20px;
    background-color: lightblue;
}
button{
        margin-left: 43%;
        margin-top: 3%;
        height: 40px;
        border-radius: 10px;
        background-color: lightgreen;
        font-family: cursive;
}