img{
    width: 300px;
    height: 300px;
    margin-top: 3%;
    margin-left: 37%;
}
div{
    background-color: lightgray;
    text-align: center;
    margin-left: 23.5%;
    height: 50%;
    width: 45%;
}
label {
    font-family: cursive;
    margin-left: 35%;
}
#Pname{
    margin-left: 80px;
    height: 20px;
    background-color: lightblue;
}
#Pid{
        margin-left: 100px;
        height: 20px;
        background-color: lightblue;
}
#dep{
    margin-left: 100px;
    height: 20px;
    background-color: lightblue;
}
#brand{
    margin-left: 90px;
    height: 20px;
    background-color: lightblue;
}
select{
    margin-left: 120px;
    font-family: cursive;
    width: 150px;
    height: 25px;
    background-color: lightblue;
}
option{
    background-color: lightblue;
    font-family: cursive;
}
button{
        margin-left: 43%;
        margin-top: 3%;
        height: 40px;
        border-radius: 10px;
        background-color: lightgreen;
        font-family: cursive;
}